<div class="board-section">
<h1>Image Puzzle</h1>

<div class="upload-image">
    <label>Custom Image</label>
    <input type="file" name="upimg" id="upimg" (change)="upload_image($event);">
</div>
<div class="hint-guide" [innerHTML]="hintText" [ngClass]="hintStyle"></div>

<div class="slider-control">
  <form>
      <label>Easy</label>
      <input type="range" min="3" max="5" value="4" #scale 
      (input)="scaleChange(scale.value)">
      <label>Hard</label>
  </form>
</div>
<div style="margin: 5px 15px;">
<canvas id="puzzle"  style="border: 1px solid #000000;padding: 5px 5px;" width="450px" height="450px" (mousedown)="changeposition($event)"></canvas>
</div>
</div>


